.container {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}
svg {
  display: block;
  margin: 10px auto;
}
svg > *{
  stroke-width: 5px;
}
.square {
  fill:rgb(255, 255, 150);
  stroke:rgb(0, 0, 150);
}
.rectangle {
  fill:rgb(150, 255, 255);
  stroke:rgb(150, 0, 0);
}
.circle {
  fill:rgb(255, 150, 255);
  stroke:rgb(0, 150, 0);
}
.ellipse {
  fill:rgb(150, 255, 150);
  stroke:rgb(255, 0, 255);
}
.circle--custom {
    animation: rotate_color 5s linear infinite;
}
@keyframes rotate_color {
  0% {
    fill:rgb(255, 150, 255);
    stroke:rgb(150, 0, 0);
  }
  25% {
    fill:rgb(150, 150, 255);
    stroke:rgb(0, 150, 0);
  }
  50% {
    fill:rgb(150, 150, 150);
    stroke:rgb(0, 0, 150);
  }
  75% {
    fill:rgb(150, 255, 255);
    stroke:rgb(0, 150, 0);
  }
  100% {
    fill:rgb(255, 150, 255);
    stroke:rgb(150, 0, 0);
  }
}
